header {
  .d-flex {
    align-items: center;
    @include respond-above(sm) {
      height: 70px;
      background-color: orange;
    }
    @include respond-above(md) {
      height: 110px;
      background-color: orange;
    }

    @include respond-above(lg) {
      height: 116px;
      background-color: orange;
    }
    @include respond-above(xl) {
      height: 130px;
      background-color: orange;
    }
  }

  .logo {
    @include respond-below(xs) {
      transform: translateY(-18px);
      max-width: 90px;
    }
    @include respond-above(xs) {
      transform: translateY(-18px);
      max-width: 120px;
    }
    @include respond-above(md) {
      max-width: 160px;
    }
    @include respond-above(lg) {
      transform: translateY(-30px);
      max-width: 190px;
    }
    @include respond-above(xl) {
      max-width: 210px;
    }

    img {
      width: 100%;
    }
  }

  .navbar-items {
  
    ul {
      @include respond-above(sm) {
       display: flex;
       gap:30px;

       @include respond-above(md){
        gap: 40px;
       }

       li{
        font-family: 'Helvetica Neue medium';
       }
      }
    }
  }
}
