.hero {
    .container-md {
        background-color: blueviolet;
        height: 90vh;

        @include respond-above(sm) {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .hero-content{
            color: white;
            // @include respond-above(sm){
            //     max-width: 700px;
            // }
            // @include respond-above(xl){
            //     max-width: 700px;
            // }
            // @include respond-above(xl){
            //     max-width: 700px;
            // }
            // @include respond-above(xl){
            //     max-width: 700px;
            // }
            @include respond-above(lg){
                max-width: 400px;
            }
            @include respond-above(xl){
                max-width: 640px;
            }

        
        }


    }

}